extends layout

block content
 div.row 
  h1= title
 div.row
  h2 Welcome to #{title}
 div.row
  p Exemplo de parágrafo
 div.row
  div.col-xs-12.col-sm-3.text-center
   p.text-uppercase Coluna 01
  div.col-xs-12.col-sm-3.text-center
   p.text-uppercase Coluna 02 
  div.col-xs-12.col-sm-3.text-center
   p.text-uppercase Coluna 03        